name: CI
on: ["push", "pull_request"]

jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  pip install -r requirements.txt

            - name: Run Ruff
              uses: astral-sh/ruff-action@v3
              with:
                  args: check

    mypy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  pip install -r requirements.txt

            - name: Run Mypy
              run: |
                  mypy . --show-error-codes
