name: Python Tests
on:
    push:
        branches: [main]
        paths:
            - "src/**"
    pull_request:
        branches: [main]
        paths:
            - "src/**"

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -e .

            - name: Test with pytest
              run: |
                  pytest -q
